[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
qiskit = "*"
beautifulsoup4 = "*"
requests-html = "*"
arsenic = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
qiskitbot = "python3 ."
